<template>
    ---json
    {
        "templating": {
            "extends": "templates/layouts/content.html"
        }
    }
    ---
    <!-- Basic template for a page with a single document -->
    <link rel="stylesheet" href="resources/css/gausbert.css"/>
    <script src="resources/scripts/gausbert.js"/>
<pb-page endpoint="https://teipublisher.com/exist/apps/tei-publisher" api-version="1.0.0">
  <div class="pagina">

    <div class="banner">
       <img src="resources/images/banner[[ replace($context?doc?path, 'canso|\.xml', '') ]].png" alt="Banner della canzone"/>
    </div>


    <div class="layout">
    
        <aside class="interagisci">

            <h2>Scopri</h2>
            <button id="btn_diff">⊶ Differenze</button>
            <button id="btn_loci">𖦹 Loci direttivi</button>
            <button id="btn_glos">🕮 Glossario </button>
            <br/>
            <div id="simboli">
            
              <h3>Simboli pop-up</h3>
              <pb-popover theme="light">
                 <span id="gen_pop">⁕</span>
                 <template slot="alternate">
                                <span class="sym" id="info_gen">Approfondimenti dal Glossario, note paleografiche dagli Apparati e ulteriori informazioni generali.</span>
                 </template>
              </pb-popover>
              <pb-popover theme="light">
                 <span id="con_pop">𖣢</span>
                 <template slot="alternate">
                                <span class="sym" id="info_con">Indicazione in Apparato di avvenuta contaminazione fra due rami della tradizione.</span>
                 </template>
              </pb-popover>
              </div>
              <br/>
    <pb-collapse>
        <div slot="collapse-trigger" class="stemma-collapse">Stemma</div>
            <div slot="collapse-content" class="stemma-content">
               <img src="resources/images/stemma[[ replace($context?doc?path, 'canso|\.xml', '') ]].svg" alt="Stemma della tradizione"/>
            </div>
    </pb-collapse>

        </aside>

        <main class="contenuto">
        
            <section class="manoscritti">
                <button id="apri_mss">Manoscritti</button>
<div id="mss-panel">

    <button id="chiudi_mss">⨉</button>
                        <h2>Visualizza i testimoni</h2>
                        

<div id="mss-list">

    <div class="mss-buttons">

        [% for $group in $context?doc?content/*/*:facsimile/*:surfaceGrp %]

            <div class="mss">
                <button class="mss_btn">
                    [[ string($group/@xml:id) ]]
                </button>
            </div>

        [% endfor %]

    </div>

    <div id="pages-list">

        [% for $group in $context?doc?content/*/*:facsimile/*:surfaceGrp %]

            <div class="mss-pages" data-mss="[[ string($group/@xml:id) ]]">

                [% for $surface in $group/*:surface %]

                    <button class="pgg_btn" data-image="[[ string($surface/*:graphic/@url) ]]">
                        f. [[ string($surface/@n)  ]]
                    </button>

                [% endfor %]

            </div>

        [% endfor %]

    </div>

</div>

<div id="mss-image">
    <img id="current-image" src="" alt=""/>
</div>
</div>

                <pb-view src="document1" load-css="resources/css/gausbert.css" xpath="//tei:div[@type='manoscritti']"/>
            </section>
            
[% if exists($context?doc?content//tei:div[@type='trad_ind']) %]
<section id="trad_ind">

    <pb-view src="document1" load-css="resources/css/gausbert.css" xpath="//tei:div[@type='trad_ind']">
    </pb-view>
    <br/>
    <label id="check_extra">
    <input type="checkbox" id="xtra">
    Mostra nel testo</input>
    </label>
  
</section>
[% endif %]
            

            <section class="metrica">
               <pb-view src="document1" load-css="resources/css/gausbert.css" xpath="//tei:div[@type='scheda_metrica']"/>
            </section>


            <section class="testi">

                <div class="colonne">
                    <div>
                       <pb-view id="txt_critico" src="document1" load-css="resources/css/gausbert.css" xpath="//tei:div[@type='txt_critico']"/>
                    </div>
     

                    <div>
                        <pb-view id="txt_cst" src="document1" load-css="resources/css/txt_cst.css" xpath="//tei:div[@type='txt_costellazione']"/>
                    </div>
                    
                <div id="extra_container">
                    <pb-view src="document1" load-css="resources/css/gausbert.css" xpath="//div[@type='trad_extra']"/>
                </div>
                </div>
                    

  
                
                <div class="colonne">
                    <div>
                        <pb-view id="app_crt" src="document1" load-css="resources/css/gausbert.css" xpath="//tei:div[@type='app_crt_sos']"/>
                        <pb-view src="document1" load-css="resources/css/gausbert.css" xpath="//tei:div[@type='app_crt_form']"/>
                    </div>

                    <div>
                        <pb-view id="app_cst" src="document1" load-css="resources/css/gausbert.css" xpath="//tei:div[@type='app_cos_sos']"/>
                        <pb-view src="document1" load-css="resources/css/gausbert.css" xpath="//tei:div[@type='app_cos_form']"/>
                    </div>
                </div>
                <div class="traduzione">
                         <pb-collapse>
                            <div slot="collapse-trigger" class="trad-collapse">
                                    <h2>Traduzione</h2>
                                </div>
                         <div slot="collapse-content" class="trad-content">
                         <pb-view src="document1" load-css="resources/css/gausbert.css" xpath="//tei:div[@type='trad_critico']"/>
                            </div>
                         </pb-collapse>
                </div>


            </section>


            <div>
                <pb-view src="document1" load-css="resources/css/gausbert.css" xpath="//tei:div[@type='biblio']"/>
            </div>

        </main>

    </div>
  </div>
</pb-page>
</template>
