.tei-lg, .txt_extra{
    color: #444;
    opacity: 90;
    border: 2.3px solid #b8cbb8;
    border-radius: 10px;
    background: transparent;
    margin-top: 35%;
    width: 95%;
    margin-left: 1.5rem;
    padding: 0.3rem;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

.tei-l, .tei-title, .tei-p{
    font-size: 19px;
    margin-left:2.5em;
}

span.tei-l {
    font-size: 15px;
}

.tei-l, .tei-title {
    white-space: nowrap;
}

span.diff_cst-attivo {
    text-emphasis-style: circle;
    text-emphasis-position: under right;
    text-emphasis-color: #AC9048;
    padding-bottom: 0;
}



.italic {
    font-style: italic;
}






